<ion-item color="secondary">
  <ion-thumbnail slot="start">
    <ion-avatar>
        <img src="./assets/icon/avatar.png">
    </ion-avatar>
  </ion-thumbnail>
  <!-- <ion-label>
    <h1 (click)="onOpenModalDetailsChoix()">{{ users.firstName }} {{ users.lastName }}</h1>
    <div class="offer-details">
      TEL:
      <ion-text style="font-weight: bold;" color="danger" class="space-left">{{users.phone}}
      </ion-text> &nbsp;
      <span class="space-left">choix :</span>
      <ion-text color="danger" class="space-left">3
      </ion-text>
    </div>
  </ion-label> -->
</ion-item>