<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Nos Garanties</ion-title>
      <!-- <ion-buttons slot="primary">
        <ion-button (click)="onSubmit()" >
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-item>
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label>Nous nous engageons</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-card-content class="ion-text-justify">
        Nous construisons une relation de confiance avec nos clients et candidats, dans le cadre du respect non seulement de la stratégie de nos clients, mais également dans le respect des attentes de nos candidats. Tous nos collaborateurs ont des parcours professionnels (Chef d’entreprise, Chargé de recrutement, cadre d’entreprise) de qualité.
        Nous sommes convaincus que la réussite de notre cabinet dépend de la somme des différentes expériences de ses consultants. <br><br>

        Soucieux en permanence de la satisfaction de nos clients, nous mettons tout en œuvre pour permettre de trouver la meilleure collaboration entre entreprise et candidat. Grâce à notre indépendance ainsi qu’à la multiplicité des compétences de nos collaborateurs, nos clients nous font confiance pour répondre efficacement à leurs besoins. <br><br>

        Nous croyons que la réussite est fortement liée au degré d’optimisme. Nous croyons au respect des engagements, à la rigueur dans le travail et au sens de la responsabilité dans
        tous nos projets.
      </ion-card-content>

    </ion-card>
  </ion-content>