<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Comment ça marche</ion-title>
      <!-- <ion-buttons slot="primary">
        <ion-button (click)="onSubmit()" >
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen padding scroll-y="true">
      <ion-slides>
        <ion-slide>
          <div><ion-badge color="primary">1/3</ion-badge></div>
            <ion-card>
                <img src="./assets/icon/madison.jpg" />
                <ion-card-header>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-card-title>A quoi ça sert ....?</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  ... Est une application dédiée aux métiers liés
                  au secteur de l’audioprothèse. Elle a pour but
                  de faciliter la recherche d’un poste dans une
                  localité spécifique. Il suffit d’enregistrer votre
                  périmètre de mobilité ainsi que le poste
                  désiré. C’est un outil mis à votre disposition
                  pour faciliter votre démarche et vous
                  proposer une opportunité qui corresponde à
                  vos attentes.
                </ion-card-content>
              </ion-card>
        </ion-slide>

        <ion-slide>
            <div><ion-badge color="primary">2 / 3</ion-badge></div>
            <ion-card>
                <img src="./assets/icon/madison.jpg" />
                <ion-card-header>
                  <ion-card-title>Qui est à l'origine de ....?</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Dimmo Conseil est un cabinet de
                    recrutement spécialisé dans le monde du
                    paramédical et tout particulièrement dans
                    celui de l’audioprothèse qui est à l’initiative
                    de cette application. C’est un moyen de
                    faciliter la rencontre entre l’offre et de la
                    demande sur le marché de l’audioprothèse.
                </ion-card-content>
              </ion-card>
        </ion-slide>

        <ion-slide>
          <div><ion-badge color="primary">3 / 3</ion-badge></div>          
            <ion-card>
                <img src="./assets/icon/madison.jpg" />
                <ion-card-header>
                  <ion-card-title>Nos clauses de confidentialité</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <h2></h2>
                    <p><b>Nous garantissons</b>  les confidentialités de
                      l’anonymat de nos candidats. Nous nous
                      engageons à ne pas transmettre vos
                      coordonnées à nos clients sans votre accord
                      
                      préalable.</p>
                </ion-card-content>
              </ion-card>
        </ion-slide>

      </ion-slides>
    </ion-content>