<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dimmo-conseil" ></ion-back-button>
      </ion-buttons>
      <ion-title>Comment ça marche</ion-title>
      <!-- <ion-buttons slot="primary">
        <ion-button (click)="onSubmit()" >
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen padding scroll-y="true">
      <ion-slides>
        <ion-slide>
          <div><ion-badge color="primary">1 / 4</ion-badge></div>          
            <ion-card>
                <img src="./assets/icon/comment-ca-marche.png" />
                <ion-card-header>
                  <ion-card-title>Comment ça marche ?</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-text-justify">
                     AudioWay est une application destinée aux métiers du secteur de l'audioprothèse.
                     Elle permet de faciliter la mobilité des audioprothésistes et autres professions 
                     en lien avec ce secteur d'activité. Il vous suffit de renseigner les informations 
                     concernant vos attentes pour un poste souhaité (localité, type de contrat, disponibilité...). 
                     Une fois tous les critères renseignés il ne reste plus qu'à vous inscrire afin de finaliser vos recherches. 
                     Vous recevrez un mail pour confirmer votre inscription sur notre application. 
                     Il est possible de vous connecter à nouveau sur l'application en utilisant l'adresse mail et le mot de passe 
                     utilisés lors de votre inscription. Une fois sur votre espace personnel vous aurez accès à tous vos choix, vous pourrez 
                     les modifier ou encore en rajouter.
                </ion-card-content>
              </ion-card>
        </ion-slide>
        <ion-slide>
          <div><ion-badge color="primary">2 / 4</ion-badge></div>
            <ion-card>
                <img src="./assets/icon/question-mark.jpg" />
                <ion-card-header>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-card-title>A quoi ça sert ... ?</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-text-justify">
                  AudioWay est une application dédiée aux métiers liés
                  au secteur de l’audioprothèse. Elle a pour but
                  de faciliter la recherche d’un poste dans une
                  localité spécifique. Il suffit d’enregistrer votre
                  périmètre de mobilité ainsi que le poste
                  désiré. C’est un outil mis à votre disposition
                  pour faciliter votre démarche et vous
                  proposer une opportunité qui correspond à
                  vos attentes.
                </ion-card-content>
              </ion-card>
        </ion-slide>

        <ion-slide>
            <div><ion-badge color="primary">3 / 4</ion-badge></div>
            <ion-card>
                <img src="./assets/icon/logoDimmoNew.jpg" />
                <ion-card-header>
                  <ion-card-title>Qui est à l'origine de AudioWay ?</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-text-justify">
                    Dimmo Conseil est un cabinet de
                    recrutement spécialisé dans le monde du
                    paramédical et tout particulièrement dans
                    celui de l’audioprothèse, qui est à l’initiative
                    de cette application. C’est un moyen de
                    faciliter la rencontre entre l’offre et de la
                    demande sur le marché de l’audioprothèse.
                </ion-card-content>
              </ion-card>
        </ion-slide>

        <ion-slide>
          <div><ion-badge color="primary">4 / 4</ion-badge></div>          
            <ion-card>
                <img src="./assets/icon/cyber-security.png" />
                <ion-card-header>
                  <ion-card-title>Nos clauses de confidentialité</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="ion-text-justify"><b>Nous garantissons</b>  les confidentialités de
                      l’anonymat de nos candidats. Nous nous
                      engageons à ne pas transmettre vos
                      coordonnées à nos clients sans votre accord
                      préalable.</p>
                </ion-card-content>
              </ion-card>
        </ion-slide>
        

      </ion-slides>
    </ion-content>