ion-checkbox {
    margin: 0 !important;
  }
  ion-toggle {
    margin: 0 !important;
  }
  ion-item {
    margin: 0 !important;
  }
  ion-card-content {
    margin: 0 !important;
    padding: 0 !important;
}
ion-row {
    margin: 0 !important;
    padding: 0 !important;
}