<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DIMMO CONSEIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="apropos" checked>A PROPOS</ion-segment-button>
    <ion-segment-button value="contact">CONTACT</ion-segment-button>
  </ion-segment>

    <div *ngIf="apropos">
        <ion-card>
            <!-- <img src="./madison.jpg" /> -->
              <ion-card-header>
                <ion-card-subtitle>Notre engagement</ion-card-subtitle>
                <ion-card-title style="color: dodgerblue;">DIMMO-CONSEIL, BORDEAUX</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Nous sommes un cabinet de conseil indépendant basé à Bordeaux. Nous sommes spécialisés dans le recrutement par approche directe (chasseur de tête) en Midde top management. Nous accompagnons également des entreprises dans le développement de leurs politiques RH, gestion des Talents, Coaching en management et développement personnel.
              </ion-card-content>
         </ion-card><br>
         <ion-text color="tertiary">Nous avons des opportunités à vous proposer dans toute la France</ion-text><br><br><br>
         <ion-text color="success">Vous êtes à l'écoute de marché pour quelle localité? </ion-text><br><br>
         <form action="" method="post">
            <div class="form-group">
                <label for="region" style=" font-weight: bold; color: dodgerblue;">REGION &nbsp;</label>
                <select (change)="onChange($event.target.value)" name="region" id="region" ngModel [ngModelOptions]="{standalone: true}">
                    <option selected>Selectionnez Region</option>
                    <option value="Auvergne-Rhone-Alpes">Auvergne-Rhône-Alpes</option>
                    <option value="Bourgogne-Franche-Comte">Bourgogne-Franche-Comté</option>
                    <option value="Bretagne">Bretagne</option>
                    <option value="Centre-Val de Loire">Centre-Val de Loire</option>
                    <option value="Corse">Corse</option>
                    <option value="Grand Est">Grand Est</option>
                    <option value="Hauts-de-France">Hauts-de-France</option>
                    <option value="Ile-de-France">Île-de-France</option>
                    <option value="Normandie">Normandie</option>
                    <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
                    <option value="Occitanie">Occitanie</option>
                    <option value="Pays de la Loire">Pays de la Loire</option>
                    <option value="Provence-Alpes-Cote dazur">Provence-Alpes-Côte d'Azur</option>
                </select>
              </div>
         </form>
         <!-- <ion-list>
            <ion-item>
                <ion-label>Selectionez une Region</ion-label>
                <ion-select ok-text="Ok" cancel-text="Annuler" (change)="onChange($event.target.value)" name="region"  ngModel [ngModelOptions]="{standalone: true}">
                  <ion-select-option value="dos">DOS</ion-select-option>
                  <ion-select-option value="lunix">Linux</ion-select-option>
                  <ion-select-option value="mac7">Mac OS 7</ion-select-option>
                  <ion-select-option value="mac8">Mac OS 8</ion-select-option>
                  <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
                  <ion-select-option value="win95">Windows 95</ion-select-option>
                  <ion-select-option value="win98">Windows 98</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Gaming</ion-label>
                <ion-select interface="popover" (change)="onChange($event.target.value)" name="region"  ngModel [ngModelOptions]="{standalone: true}">
                  <ion-select-option value="nes">NES</ion-select-option>
                  <ion-select-option value="n64">Nintendo64</ion-select-option>
                  <ion-select-option value="ps">PlayStation</ion-select-option>
                  <ion-select-option value="genesis">Sega Genesis</ion-select-option>
                  <ion-select-option value="saturn">Sega Saturn</ion-select-option>
                  <ion-select-option value="snes">SNES</ion-select-option>
                </ion-select>
              </ion-item>
         </ion-list> -->
         
    </div>
    

  <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------- -->
  <div *ngIf="contact">
      <ion-item>
          <ion-thumbnail slot="start">
            <img src="./assets/icon/slide-1.png">
          </ion-thumbnail>
          <ion-label color="tertiary">
            <h2 style="font-weight: bold; color: #3880ff;">Merci de nous contacter</h2>
            <p>TEL: 00 000 00 00 00</p>
            <p>email: contact@dimmo-conseil.com</p><br>
            <h3 style="font-weight: bold;">OUVERTURE</h3>
            <p>Lundi au Vendredi</p>
            <p>09h00 - 12h00 | 13h30 - 17h00</p>
          </ion-label>
        </ion-item><hr>
          <h2 style="font-weight: bold; color: #a423fa;">NOUS ECRIRE</h2>
        <form [formGroup]="formGroup">
            <ion-list lines="full" >
              <ion-item>
                <ion-label position="floating">Votre Nom <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" formControlName="nom" name="nom"></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-label position="floating">Votre Prénom <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" formControlName="prenom" name="prenom"></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="floating">Sujet</ion-label>
                <ion-input type="text" formControlName="sujet" name="sujet"></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-label position="stacked">Nous Ecrire</ion-label>
                <ion-textarea formControlName="nousecrire" name="nousecrire"></ion-textarea>
              </ion-item>
            </ion-list>
    
            <div class="ion-padding">
              <ion-button expand="block" type="submit" (click)="onSubmit()" class="ion-no-margin">Envoyer</ion-button>
            </div>
          </form>
    
  </div>
</ion-content>
