<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          MENU
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content color="success">
          Actualisation de vos informations
        </ion-refresher-content>
      </ion-refresher>

      <ion-list *ngIf="!userRoleUser">
          <ion-menu-toggle>
              <ion-item  lines="none" routerLink="/auth-connexion">
                <ion-icon name="person" slot="start" color="tertiary"></ion-icon>
                <ion-label color="tertiary">Merci de vous identifier</ion-label>
              </ion-item>
            </ion-menu-toggle>
      </ion-list>
      <!-- <ion-list *ngIf="!userRoleUser">
        <ion-menu-toggle (click)="onRafraichir()">
            <ion-item  lines="none" >
              <ion-icon name="refresh-circle" slot="start" color="danger"></ion-icon>
              <ion-label color="danger" >ou rafraîchir cette page</ion-label>
            </ion-item>
          </ion-menu-toggle>
    </ion-list> -->
      
      <ion-list *ngIf="userRoleUser">
        <ion-menu-toggle>
          <ion-item  lines="none" routerLink="/dimmo-conseil/tabs/dimmo">
            <ion-icon name="arrow-dropright-circle" slot="start" color="primary"></ion-icon>
            <ion-label>À PROPOS</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item   lines="none" routerLink="/dimmo-conseil/tabs/audio/mes-choix">
              <ion-icon name="checkbox-outline" slot="start" color="primary"></ion-icon>
              <ion-label>VOS CRIT&Egrave;RES DE CHOIX</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
              <ion-item  lines="none" routerLink="/dimmo-conseil/tabs/audio/comment-ca-marche">
                <ion-icon name="help-circle" slot="start" color="primary"></ion-icon>
                <ion-label>COMMENT ÇA MARCHE</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <!-- <ion-menu-toggle>
                <ion-item  lines="none" routerLink="/dimmo-conseil/tabs/audio/ensavoir-plus">
                  <ion-icon name="help-circle" slot="start" color="primary"></ion-icon>
                  <ion-label>A PROPOS DE L'APPLI</ion-label>
                </ion-item>
              </ion-menu-toggle> -->
          <ion-menu-toggle>
            <ion-item  lines="none" routerLink="/dimmo-conseil/tabs/audio/nos-garanties">
              <ion-icon name="lock" slot="start" color="primary"></ion-icon>
              <ion-label>NOTRE POLITIQUE</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" (click)="onLogout()" >
              <ion-icon name="exit" slot="start" color="danger"></ion-icon>
              <ion-label color="danger">D&Eacute;CONNEXION</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="userRoleAdmin">
            <ion-item color="primary" lines="none" routerLink="/dimmo-conseil/tabs/inscrits">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>TOUS LES INSCRITS</ion-label>
            </ion-item>
          </ion-menu-toggle><hr>
          <ion-menu-toggle *ngIf="userRoleAdmin">
            <ion-item color="primary" lines="none" routerLink="/dimmo-conseil/tabs/audio/tous-les-choix">
              <ion-icon name="checkbox-outline" slot="start"></ion-icon>
              <ion-label>TOUS LES CHOIX</ion-label>
            </ion-item>
          </ion-menu-toggle><hr>
          <ion-menu-toggle *ngIf="userRoleAdmin">
            <ion-item color="primary" lines="none" routerLink="/dimmo-conseil/tabs/audio/new-opportunite">
              <ion-icon name="add-circle" slot="start"></ion-icon>
              <ion-label>AJOUTEZ OPPORTUNIT&Eacute;</ion-label>
            </ion-item>
          </ion-menu-toggle><hr>
          <ion-menu-toggle *ngIf="userRoleAdmin">
            <ion-item color="primary" lines="none" routerLink="/dimmo-conseil/tabs/audio/messages">
              <ion-icon name="chatboxes" slot="start"></ion-icon>
              <ion-label>LES MESSAGES</ion-label>
            </ion-item>
          </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
